@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;

400;500;700&family=Sora:wght@600&display=swap");
:root {
  --white: #fff;
  --text: #1F1F1F;
  --sambucus: #161929;
  --tropical-sea: #05b29e;
  --independence: #4a4f6c;
  --calcareous-sinter: #daeaff;
  --tropical-blue: #b0caed;
  --alice-blue: #eaf3ff;
  --ice-cold: #bbd7fc;
  --alice-blue: #f5f9ff;
  --wood-charcoal: #464646;
}

@font-face {
  font-family: Gotham;
  font-display: swap;
  src: url("../fonts/Gotham-Black.woff2") format("woff2"), url("../fonts/Gotham-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Gotham;
  font-display: swap;
  src: url("../fonts/Gotham-BlackItalic.woff2") format("woff2"), url("../fonts/Gotham-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Gotham;
  font-display: swap;
  src: url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gotham;
  font-display: swap;
  src: url("../fonts/Gotham-BoldItalic.woff2") format("woff2"), url("../fonts/Gotham-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Gotham;
  font-display: swap;
  src: url("../fonts/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gotham;
  font-display: swap;
  src: url("../fonts/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

html {
  color: var(--text);
  background-color: #fff;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  scroll-behavior: smooth;
}

body {
  font-family: Gotham;
  font-size: 1.6rem;
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden;
  --sb-track-color: #161929;
  --sb-thumb-color: #05b29e;
  --sb-size: 10px;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
button {
  color: inherit;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
textarea {
  outline: none;
}

b,
strong {
  font-weight: 700;
}

[class*=__container] {
  margin: 0 auto;
}

.img-full {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

h1 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

h3 {
  font-family: Gotham;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h5 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tac {
  text-align: center;
}

.btn {
  display: inline-block;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  padding: 2rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn--gradient {
  -webkit-box-shadow: 8px 8px 14px 0px rgba(0, 160, 255, 0.25), 0px 2px 0px 0px #363c72;
          box-shadow: 8px 8px 14px 0px rgba(0, 160, 255, 0.25), 0px 2px 0px 0px #363c72;
  background: -webkit-gradient(linear, right top, left top, from(#05b29e), to(transparent)) #716dfc;
  background: -o-linear-gradient(right, #05b29e, transparent) #716dfc;
  background: linear-gradient(270deg, #05b29e, transparent) #716dfc;
  color: var(--white);
}

.btn--border {
  border: 0.3rem solid;
  -o-border-image: -o-linear-gradient(right, #05b29e 0%, #716dfc 100%) 1;
     border-image: -webkit-gradient(linear, right top, left top, from(#05b29e), to(#716dfc)) 1;
     border-image: linear-gradient(270deg, #05b29e 0%, #716dfc 100%) 1;
  background: -webkit-linear-gradient(180deg, #05b29e, transparent) #716dfc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scw {
  background: -webkit-gradient(linear, right top, left top, from(#05b29e), to(#716dfc)), #161929;
  background: -o-linear-gradient(right, #05b29e 0%, #716dfc 100%), #161929;
  background: linear-gradient(270deg, #05b29e 0%, #716dfc 100%), #161929;
  padding: 1.55rem 0;
}

.scw__title {
  color: var(--white);
  text-align: center;
  font-style: italic;
  font-weight: 700;
}

.excellent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
  color: #000;
  font-family: Roboto;
}

.excellent__title {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 144.444%;
}

.excellent__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10.8rem;
  height: 2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.based {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
  color: #000;
  font-family: Roboto;
}

.based__text {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 157.143%;
}

.based__link {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 157.143%;
  text-decoration: underline;
}

.trustpilot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
  color: #000;
  font-family: Roboto;
}

.trustpilot__star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2.5358rem;
  height: 2.4rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.trustpilot__title {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 162.5%;
}

.header {
  background-color: var(--sambucus);
  color: var(--white);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.05rem 0;
}

.burger {
  width: 2.4rem;
  height: 1.6rem;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.burger._active {
  width: 1.9213rem;
  height: 1.9121rem;
}

.burger._active span {
  left: -100%;
  opacity: 0;
  height: 0.2rem;
}

.burger._active span:nth-of-type(2) {
  -webkit-transform: rotate(-45deg) translateY(-50%);
      -ms-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  top: 50%;
  left: 0.1rem;
  opacity: 1;
}

.burger._active span:nth-of-type(3) {
  -webkit-transform: rotate(45deg) translateY(-50%);
      -ms-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
  top: 50%;
  left: 0;
  opacity: 1;
}

.burger span {
  width: 100%;
  height: 0.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--white);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 3px;
}

.burger span:nth-of-type(2) {
  top: calc(50% - 0.6rem);
}

.burger span:nth-of-type(3) {
  top: calc(50% + 0.6rem);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}

.logo svg {
  width: 2.3438rem;
  height: 4.3rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.logo span {
  font-family: Sora;
  font-size: 3.11rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer {
  background-color: var(--sambucus);
  color: var(--white);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.2rem 0;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.3rem;
     -moz-column-gap: 1.3rem;
          column-gap: 1.3rem;
}

.footer__body .excellent,
.footer__body .trustpilot {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: var(--white);
  font-weight: 400;
}

.footer__body .excellent__title,
.footer__body .trustpilot__title {
  font-weight: 400;
}

.footer__reseived {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.section--calcareous-sinter {
  background-color: var(--calcareous-sinter);
}

.section--ice-cold {
  background-color: var(--ice-cold);
}

.section--alice-blue {
  background-color: var(--alice-blue);
}

.section__container {
  padding: 2.4rem 0 1.6rem;
}

.section__container--jcc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__container--spt {
  padding-top: 3.2rem;
}

.section__container--spb {
  padding-bottom: 1.6rem;
}

.section__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__title {
  color: #000;
}

.section__title:not(:last-child) {
  margin-bottom: 1.6rem;
}

.section__list:not(:last-child) {
  margin-bottom: 1.6rem;
}

.section__vouchers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 1.6rem;
}

.section__vouchers:not(:last-child) {
  margin-bottom: 1.6rem;
}

.section__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
  padding: 2rem 3.2rem;
  background: var(--white);
  -webkit-box-shadow: 0px 12px 24px 0px rgba(27, 59, 119, 0.05), 0px 24px 60px 0px rgba(6, 47, 125, 0.05), 0px 2px 4px 0px rgba(7, 4, 146, 0.1);
          box-shadow: 0px 12px 24px 0px rgba(27, 59, 119, 0.05), 0px 24px 60px 0px rgba(6, 47, 125, 0.05), 0px 2px 4px 0px rgba(7, 4, 146, 0.1);
}

.section__note {
  text-align: center;
  color: #000;
}

.section__note p {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section__row-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
}

.section-columns__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 62.4rem;
  width: 100%;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.section-columns__content {
  width: 100%;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.6rem;
     -moz-column-gap: 1.6rem;
          column-gap: 1.6rem;
}

.list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.list-item__num {
  color: var(--white);
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 4rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 4px;
  background: -webkit-gradient(linear, right top, left top, from(#05b29e), to(#716dfc));
  background: -o-linear-gradient(right, #05b29e 0%, #716dfc 100%);
  background: linear-gradient(270deg, #05b29e 0%, #716dfc 100%);
}

.list-item__text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-title:not(:last-child) {
  margin-bottom: 2.4rem;
}

.offer-btn {
  font-size: 2rem;
}

.vouchers-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.voucher {
  padding: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
  background-color: var(--alice-blue);
  border: 1px solid var(--tropical-blue);
  border-radius: 12px;
}

.voucher__discount {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: -webkit-linear-gradient(180deg, #05b29e, #716dfc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.voucher__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.voucher__btn {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(#161929), to(#161929));
  background: -o-linear-gradient(top, #161929 0%, #161929 100%);
  background: linear-gradient(180deg, #161929 0%, #161929 100%);
  color: var(--white);
}

.hero__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.6rem 0;
}

.hero__body {
  width: 100%;
}

.hero__title {
  background: -webkit-linear-gradient(180deg, #05b29e 50%, #716dfc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__title:not(:last-child) {
  margin-bottom: 1.6rem;
}

.hero__subtitle:not(:last-child) {
  margin-bottom: 1.6rem;
}

.hero__text:not(:last-child) {
  margin-bottom: 1.6rem;
}

.hero__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 62.4rem;
}

.hero__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.6rem;
  padding: 1.6rem 0;
}

.hero__down::after,
.hero__down::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: var(--independence);
}

.hero__down-arrow {
  color: var(--independence);
  width: 3.2rem;
  height: 3.2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.hero__down-arrow svg {
  width: 100%;
  height: 100%;
}

.reviews {
  padding: 1.6rem;
  border-radius: 12px;
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
}

.reviews__layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 1.6rem;
}

.reviews__image {
  width: 100%;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 8px;
}

.reviews__title {
  color: #000;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.reviews__title:not(:last-child) {
  margin-bottom: 1.6rem;
}

.reviews__text {
  color: #000;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  line-clamp: 5;
  box-orient: vertical;
}

.step {
  border-radius: 12px;
  border: 1px solid var(--tropical-blue);
  background: var(--alice-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
  padding: 1.6rem;
}

.step__layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 1.6rem;
}

.step__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.8rem;
  height: 4.8rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.step__title {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  background: -webkit-linear-gradient(180deg, #05b29e 70%, #716dfc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.step__text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form {
  border-radius: 8px;
  border: 1px solid var(--tropical-blue);
  padding: 3.2rem 1.6rem;
}

.form__title {
  color: var(--wood-charcoal);
  text-align: center;
}

.form__title:not(:last-child) {
  margin-bottom: 2.4rem;
}

.form__select {
  color: #858585;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1.6rem;
  width: 100%;
  height: unset;
  border-radius: 8px;
  border: 1px solid var(--tropical-blue);
  background: var(--calcareous-sinter);
}

.form__select:not(:last-child) {
  margin-bottom: 1.6rem;
}

.form__select:after {
  display: none;
}

.form__select::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='11' viewBox='0 0 12 11' fill='none'%3E%3Cpath d='M4.65784 1.44898C5.28625 0.360542 6.85727 0.360544 7.48568 1.44898L11.586 8.55102C12.2144 9.63946 11.4289 11 10.1721 11L1.97139 11C0.714573 11 -0.0709347 9.63945 0.557474 8.55102L4.65784 1.44898Z' fill='%23464646'/%3E%3C/svg%3E");
  background-position: 0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 1.3856rem;
  height: 1.2rem;
  position: absolute;
  right: 1.6rem;
  top: 2rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__select.open::before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.form__select:hover,
.form__select:focus {
  border: 1px solid var(--tropical-blue);
}

.form__select .list {
  width: 100%;
  max-height: 32.3rem;
  overflow-y: scroll;
  padding: 1.6rem;
  --sb-track-color: #daeaff;
  --sb-thumb-color: #b0caed;
  --sb-size: 4px;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.form__select .list::-webkit-scrollbar {
  width: var(--sb-size);
}

.form__select .list::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

.form__select .list::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
}

.form__select .list li {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
  padding: 0;
  min-height: unset;
}

.form__select .list li:not(:last-child) {
  margin-bottom: 2.4rem;
}

.form__select .list li.disabled {
  display: none;
}

.form .nice-select .option:hover,
.form .nice-select .option.focus,
.form .nice-select .option.selected.focus {
  background-color: inherit;
}

.form__input {
  color: #000;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1.6rem;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--tropical-blue);
  background: var(--calcareous-sinter);
}

.form__input:not(:last-child) {
  margin-bottom: 1.6rem;
}

.form__input::-webkit-input-placeholder {
  color: #858585;
}

.form__input::-moz-placeholder {
  color: #858585;
}

.form__input:-ms-input-placeholder {
  color: #858585;
}

.form__input::-ms-input-placeholder {
  color: #858585;
}

.form__input::placeholder {
  color: #858585;
}

.form__btn {
  width: 100%;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .reviews__layout {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  [class*=__container] {
    max-width: 129.6rem;
  }

  .mob {
    display: none;
  }

  h1 {
    font-size: 7.3rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 3.2rem;
  }

  h5 {
    font-size: 2.6rem;
  }

  p {
    font-size: 2rem;
  }

  .btn {
    padding: 2rem 2.4rem;
    font-size: 2.6rem;
  }

  .scw {
    padding: 2.1rem 0;
  }

  .burger {
    display: none;
  }

  .footer__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4rem 0;
  }

  .menu__nav {
    gap: 3.6rem;
  }

  .menu__link {
    font-size: 1.4rem;
  }

  .section__container {
    padding: 4rem 0;
  }

  .section__container--spt {
    padding-top: 2.4rem;
  }

  .section__container--spb {
    padding-bottom: 2.4rem;
  }

  .section__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 3.2rem;
       -moz-column-gap: 3.2rem;
            column-gap: 3.2rem;
  }

  .section__title:not(:last-child) {
    margin-bottom: 3.2rem;
  }

  .section__list:not(:last-child) {
    margin-bottom: 3.2rem;
  }

  .section__vouchers {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
    gap: 2.4rem;
  }

  .section__vouchers:not(:last-child) {
    margin-bottom: 3.2rem;
  }

  .section__note p {
    font-size: 1.6rem;
  }

  .section__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 3.2rem;
       -moz-column-gap: 3.2rem;
            column-gap: 3.2rem;
    padding-right: 10.5rem;
  }

  .section__form {
    width: 40rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  .section-columns__picture {
    width: 62.4rem;
  }

  .list-item:not(:last-child) {
    margin-bottom: 3.3rem;
  }

  .list-item__text {
    font-size: 2rem;
  }

  .hero__wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 2.4rem;
       -moz-column-gap: 2.4rem;
            column-gap: 2.4rem;
    padding: 4rem 0 2.4rem;
  }

  .hero__subtitle:not(:last-child) {
    margin-bottom: 3.2rem;
  }

  .hero__text:not(:last-child) {
    margin-bottom: 3.2rem;
  }

  .hero__picture {
    width: 62.4rem;
  }

  .hero__down {
    padding: 1.6rem 0 3.2rem;
    gap: 4.8rem;
  }

  .hero__down-arrow {
    width: 4.8rem;
    height: 4.8rem;
  }

  .reviews {
    gap: 2.4rem;
    padding: 2.4rem;
  }

  .reviews__image {
    width: 27.2rem;
    height: 18.8rem;
  }

  .reviews__text {
    -webkit-line-clamp: 6;
    line-clamp: 6;
  }

  .step {
    padding: 2.4rem;
  }

  .step__layout {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
  }

  .step__title {
    font-size: 3.2rem;
  }

  .step__text {
    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  [class*=__container] {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }

  .mob-none {
    display: none;
  }

  .btn {
    width: 100%;
  }

  .excellent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .trustpilot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.4rem;
  }

  .menu {
    position: fixed;
    z-index: 999;
    top: 6.3rem;
    left: -100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#161929), to(#161929));
    background: -o-linear-gradient(top, #161929 0%, #161929 100%);
    background: linear-gradient(180deg, #161929 0%, #161929 100%);
    width: 100%;
    height: calc(100dvh - 6.3rem);
    padding-top: 2rem;
    padding-bottom: 8.2rem;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu._open {
    left: 0;
  }

  .menu__wrap {
    height: 100%;
  }

  .menu__nav {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4.8rem;
  }

  .section__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.6rem;
  }

  .section__label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .offer-btn {
    padding: 1.6rem;
  }

  .hero__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 1.6rem;
  }

  .hero__picture {
    margin: 0 auto;
  }

  .reviews {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.6rem;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .section__vouchers {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .step__layout {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (any-hover: hover) {
  .btn--gradient:hover {
    background-color: #05b29e;
  }

  .btn--border:hover {
    background-color: #05b29e;
  }

  .menu__link:hover {
    color: var(--tropical-sea);
  }
}